.logo_profile {
  width: 98%;
  padding: 10px;
}

.main_foto {
  display: flex;
  margin-left: 20px;
}

.main_foto_description {
  width: 200px;

}

.name {
  padding: 10px;
}

.contact {
  margin-left: 50px;
}