.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-image: url(./../../img/gray-gridius.png);
  grid-area: n;
}

.item {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.item:last-child {
  margin-top: 30px;
}

.active{
  color: goldenrod;
}

.sidebar{
  padding: 10px;
  margin: 10px;
}

.friendsItem{
  width: 20px;
  margin: 10px;
  color: white;
}
.friendsItemFoto{
  width: 150px;

}