.dialogs {
  color: white;
  display: grid;
  grid-template-columns: 40% 60%;
}

.dialogs_item {
  margin: 10px;
}

.dialogItem span {
  text-decoration: none;
  color: white
}

.item {  
  padding: 10px;  
}

.item,img {
  width: 40px;
}

.dialogItem{
  display: grid;
  grid-template-columns: 120% 70%;
  align-items: center;
}

.messages {
  margin: 10px;
}

.message {
  margin-bottom: 5px;
}

.active {
  color: goldenrod;
}

.creatPost{
  padding: 10px;
}